/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Poppins:wght@500;700&display=swap');

html, body, * {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    /* background-color: #FFE8F0; */
    /* background-image: url("/img/67660.jpg"); */
    background-size: cover;
}

* {
    box-sizing: border-box;
}

video {
    /** Simulationg background-size: cover */
    object-fit:cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }

.profile {
    position: relative;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.info {
    padding: 15px 20px 20px 20px ;
    display: flex;
    flex-direction: column;
    height: 320px;

    justify-content: space-between;
}

.tags {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    margin-bottom: 6px;
}

.info h1 {
    font-family: 'Fraunces', serif;
    margin-bottom: 15px;
}

.kitten_bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.prices {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.price-old {
    text-decoration: line-through;
    font-size: 1rem;
}

.button {
   
}

.button button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px;
    width: 100%;
    background-color: #FFBFE1;
    border-radius: 10px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

