body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:focus a:hover {
    color: darkgray;
}

.header_container, .title_container, .footer1 {
    margin: 0 auto;
    max-width: 60vw;
}

.button1 {
    font-family: 'Poppins', sans-serif;
    background-color: #ffdaee;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button2 {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* HEADER */

.header {
    border-bottom: 1px solid #ffdaee;
    background-color: white;
}

.header_container {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    padding: 10px 0;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    gap: 10px;
}

.header_container img {
    height: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.header_buttons button {
    padding: 5px 15px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* TITLE */

.title {
    font-family: 'Poppins', sans-serif;
    background-image: url("./img/67660.jpg");
    background-size: cover;
    margin-bottom: 50px;
}

.title_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.title h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 48px;
    margin-top: 50px;
    line-height: 1.2;
}

.title h2 {
    margin: 0px;
    padding: 0px;
    max-width: 60ch;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.title .underline {
    margin-top: 5px solid pink;
}

.title_right {
    background-image: url("./img/kitten.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 20px;
    
}

.title button {
    font-size: 18px;
    padding: 12px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.cta_buttons {
    padding-bottom: 60px;
    display: flex;
    gap: 20px;
}

/* CONTENT */

.content {
    margin-bottom: 80px;
}

.content_main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenth2 {
    display: flex;
    gap: 80px;
}

.beforeh2 {
    width: 94px;
    height: 159px;

    background-image: url("./img/beforeContent.svg");
    background-repeat: no-repeat;
}

.afterh2 {
    width: 94px;
    height: 159px;

    background-image: url("./img/afterContent.svg");
    background-repeat: no-repeat;
}

.before_kittens {
    display: flex;
    

    background-repeat: no-repeat;
}

.after_kittens {
    display: flex;

    
    background-repeat: no-repeat;
    object-position: bottom;
}

.contentTitle {
    
}

.logo2 {
    background-image: url("./img/logo2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 78.36px;
    margin-bottom: 40px;
}

.content h2 {
    font-size: 28px;
    margin: 0px;
    margin-bottom: 50px;
}

.divider {
    background-image: url("./img/underlineContent.svg");
    height: 38px;
    width: 154px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.kitten_content {
    display: flex;
    gap: 50px;

}

.kittens_preview{
    height: 400px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 264px));
    grid-template-rows: 1fr;
    gap: 30px;
}



.kitten_profile {
    border: 1px solid black;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(140deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
}

.kitten_info {
    height: 40%;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.kitten_info .h3 {
    color: rgb(105, 32, 105);
    font-weight: 500;
}

.kitten_bio {
    font-size: 14px;
    font-weight: 00;
}

.kitten_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.kitten_buttons .button1, .kitten_buttons .button2 {
    border: 2px solid rgb(105, 32, 105);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
}

.pfp {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid black;
}

.pfp1 {
    background-image: url("./img/catgirlbw.jpg");
}

.pfp2 {
    background-image: url("./img/catgirl.jpg");
}

.pfp3 {
    background-image: url("./img/squidw.png");
}

.show_more .button2 {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    background-color: #eaddff;
}

/* CONTENT 2 */



/* FOOTER 1 */

footer {
    background-color: #eaddff;
}

.footer1_container {
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

.footer1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer1_left{
    max-width: 65ch;
}

.footer1_right {
    display: flex;
    gap: 15px
}

.footer1_left img {
height: 35px;
}

.footer2 {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;

    
}

.footer2 .discord img{
    width: 40px;
}

.footer2 .github img {
    width: 40px;
}